@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1>Menu Principal</h1>
</div>
<div class="row">
    <div class="col-md-4">                
        @Html.ActionLink("Ver Permisos", "Index", "Permisos")
    </div>    
</div>